.icono-izquierda{
    position: absolute;
    top: 10px;
    left: 10px;
}

.icono-derecha{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.display-estacion.invierno i {
    color: blue;
}

.display-estacion.verano i {
    color: red;
}

.display-estacion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.verano{
    background-color: rgba(221, 150, 44, 0.5);
}

.invierno{
    background-color: rgba(15, 200, 224,.6);
}

